<launch>
  <param name="robot_description" textfile="$(find planning_models)/test/urdf/robot.xml" />
  <param name="robot_description_semantic" textfile="$(find planning_models)/test/srdf/robot.xml" />

  <group ns="robot_description_planning">
    <rosparam command="load" file="$(find pr2_moveit_config)/config/collision_matrix.yaml"/>
    <rosparam command="load" file="$(find pr2_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <node pkg="pr2_test_moveit_manipulation"
        type="grasp_evaluator_fast_tests"  
	name="grasp_evaluator_fast_tests"
	output="screen">
    <rosparam command="load" file="$(find pr2_moveit_config)/config/kinematics.yaml"/>
  </node>
  
</launch>
