<launch>
  <!-- send pr2 urdf to param server -->
  <include file="$(find pr2_description)/robots/upload_pr2.launch" />

  <test test-name="pr2_kinematics_constraint_aware_test" pkg="pr2_moveit_tests" type="pr2_constraint_aware_kinematics_test" name="right_arm_kinematics" time-limit="180" args = "gdb --ex run --args">    
   <param name="tip_name" value="r_wrist_roll_link" />     
   <param name="root_name" value="torso_lift_link" />  
   <param name="number_ik_tests" value="1000" />  
   <param name="acceptable_success_percentage" value="90" />  
   <rosparam command="load" file="$(find pr2_moveit_config)/config/kinematics.yaml"/>
  </test>

</launch>
