<launch>

  <include file="$(find pr2_description)/robots/upload_pr2.launch"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <include file="$(find pr2_moveit_config)/launch/move_group.launch"/>

  <include file="$(find pr2_moveit_config)/launch/moveit_rviz.launch"/>

</launch>
