<launch>

  <!-- Set the param that trajectory_execution_manager needs to find the controller plugin -->
  <arg name="moveit_sensor_manager" default="pr2_moveit_sensor_manager/Pr2MoveItSensorManager" />

  <!-- Set the file describing which sensor(s) to use to build the octomap  -->
  <arg name="moveit_octomap_sensor_params_file" default="$(find pr2_moveit_config)/config/sensors_kinect.yaml" />

  <!--
      Disable for now, as this package is not yet catkinized (dry deps)
  <param name="moveit_sensor_manager" value="$(arg moveit_sensor_manager)"/>
  -->

  <!-- Params are specific to this plugin -->

  <arg name="head_pointing_frame" default="/head_mount_kinect_rgb_optical_frame" />
  <param name="head_pointing_frame" value="$(arg head_pointing_frame)" />

  <!-- Params for the octomap monitor -->
  
  <param name="octomap_frame" type="string" value="odom_combined" />
  <param name="octomap_resolution" type="double" value="0.05" />
  <param name="max_range" type="double" value="5.0" />
  
  <!-- sensors used to update the map -->
  <rosparam command="load" file="$(arg moveit_octomap_sensor_params_file)" />

</launch>
