<launch>
    <!-- load robot -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2.urdf.xacro'" />
    <param name="robot_description_semantic" textfile="$(find pr2_description)/robots/pr2.srdf" />

    <!-- test -->
    <group ns="test_constraint_samplers">
      <rosparam command="load" file="$(find pr2_arm_planning)/config/ompl_planning.yaml"/>
      <param name="tip_name" value="l_wrist_roll_link" />     
      <param name="root_name" value="torso_lift_link" />  
    </group>

</launch>
